.heading-section {
  padding: 100px;
  padding-bottom: 150px;
  background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));
  h1.title {
    font-weight: bold;
    color: #fff;
  }
}

.container {
  max-width: 800px !important;
}

.add-todo-box {
  padding: 25px;
  margin-top: -68px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(#000, 0.2);
}

.task-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
  padding: 35px 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  &.completed {
    color: #aaa;
    & .check-box {
      background: rgb(11, 223, 170);
      border-color: rgb(11, 223, 170);
      i.material-icons {
        opacity: 1;
        color: #000;
      }
    }
  }
  .check-box {
    display: flex;
    flex-shrink: 0;
    margin-right: 20px;
    border: 2px solid #eee;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    transition: background-color 0.2s;
    i.material-icons {
      font-size: 20px;
      margin: auto;
      // icon hide by default
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  &:hover .check-box {
    background: #eee;
    i.material-icons {
      opacity: 0.4;
    }
  }
  .task-controls-box {
    position: absolute;
    bottom: 0;
    right: 5px;
    display: flex;
  }
}

.task-controls-box .task-control-btn {
  display: flex;
  background: #f5f7f8;
  padding: 7px 10px;
  i.material-icons {
    font-size: 20px;
  }
  &:hover {
    background: #eee;
  }
  &:active {
    background: #e5e7e8;
  }

  &:first-of-type {
    border-top-left-radius: 7px;
  }
  &:last-of-type {
    border-top-right-radius: 7px;
  }
}

.task-controls-box .task-control-btn.is-danger:active i.material-icons {
  color: rgb(155, 27, 27);
}
