<section class="heading-section">
  <h1 class="title is-1 has-text-centered">Todos</h1>
</section>
<div class="container">
  <div class="add-todo-box">
    <form>
      <h2 class="title is-4">New task</h2>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Add todo..." />
        </p>
        <p class="control">
          <button class="button alt-gradient-btn">Add</button>
        </p>
      </div>
    </form>
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="task-list">
      <div class="task-item">
        <div class="check-box">
          <i class="material-icons">check</i>
        </div>
        <div class="task-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam
          minus natus unde eum sapiente? Architecto recusandae quod laboriosam
          ab perspiciatis!
        </div>
      </div>
      <div class="task-item">
        <div class="check-box">
          <i class="material-icons">check</i>
        </div>
        <div class="task-text">this is a placeholder to the todo text</div>
      </div>
    </div>
  </div>
</section>
