/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma.sass";

.alt-gradient-btn {
  border: none;
  background: linear-gradient(to right, rgb(74, 215, 240), rgb(2, 228, 171));
  color: #fff;
  font-weight: 600;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    color: #fff;
    box-shadow: 0 0 0 2px rgba(#000, 0.2);
  }
  &:focus {
    color: #fff;
  }
}
